.formio {
  .card {
    margin: 0;
    .card-header {
      margin: 0;
      padding: 10px 15px;
      box-shadow: none;
      background: #f0f0f0;
    }
  }
}
.formio-dialog-content {
  .card {
    margin: 0;
    .card-header {
      margin: 0;
      padding: .75rem 1.25rem;
      box-shadow: none;
      background: #f0f0f0;
    }
  }
}
